<h1>Add a thing</h1>

<%= form_for @form, html: { class: "form-group" } do |f| %>
  <% if @form.errors.any? %>
    <dl class="alert alert-danger unstyled">
      <% @form.errors.each do |field, msg| %>
        <dt><%= field.capitalize %></dt>
        <dd><%= msg.capitalize %></dd>
      <% end %>
    </dl>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-grpup">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
